
html, body{
    height: 100%;
    width: 100%;
}
.button{
    width: 64px;
    padding: 20px;
    max-width: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}
.row{
    margin: 8px;
    width: 82vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row input{
    width: 210px;
    font-size: 14px;
    margin: 0px;
    padding: 6px 28px;
    border: 2px solid black;
    border-radius: 9px;
}